# yii console command
/yii


# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
/www/media/images/users/
/www/media/temp/images/users/
/www/media/images/blog/posts/
/www/media/temp/images/blog/posts/
/www/media/images/blog/
/www/media/temp/images/blog/


cp_migrations.sh
migrate.sh
migrate_down
migrate_up
sql_export.sh

