/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 9:23:06 PM
    Author     : Panagiotis
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 10:47:57 AM
    Author     : iq10255
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 11:13:05 AM
    Author     : iq10255
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 10:43:14 AM
    Author     : iq10255
*/
.btn {
  border-radius: 0px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 10:49:59 AM
    Author     : iq10255
*/
.form-control {
  border-radius: 0px;
}
.input-group-addon {
  border-radius: 0px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 10:49:59 AM
    Author     : iq10255
*/
.panel-heading {
  border-radius: 0px;
  border-top-style: outset;
  background-color: whitesmoke;
}
.panel-default .panel-heading {
  border-top-color: #999999  ;
}
.panel-primary .panel-heading {
  border-top-color: #265a88;
}
.panel-success .panel-heading {
  border-top-color: #255625;
}
.panel-danger .panel-heading {
  border-top-color: #761c19;
}
.panel {
  border-radius: 0px;
}
.panel-no-border {
  border: none;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:01:40 PM
    Author     : Panagiotis
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:00:55 PM
    Author     : Panagiotis
*/
#site-login-area {
  padding-top: 15px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:12:19 PM
    Author     : Panagiotis
*/
#site-singup-area {
  padding-top: 15px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:29:57 PM
    Author     : Panagiotis
*/
#site-request-password-reset-area {
  padding-top: 15px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 10:58:10 PM
    Author     : Panagiotis
*/
.blog-area .blog-list-left {
  /*        border: 1px solid black; */
}
.blog-area .blog-sidebar-right {
  /*        border: 1px solid black; */
}
.blog-area .blog-list-left .blog-intro-text {
  padding: 0px 15px 15px 15px;
  display: block;
}
.blog-area .panel-heading .panel-heading-title {
  font-size: 20px;
}
.blog-area .panel-heading .panel-heading-title .panel-heading-details {
  font-size: 14px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 10:58:10 PM
    Author     : Panagiotis
*/
.blog-post-area .post-image-box {
  max-height: 250px;
  overflow: hidden;
}
.blog-post-area .post-image-box .post-image {
  width: 100%;
}
.blog-post-area .post-header {
  font-size: 25px;
}
.blog-post-area .author-info {
  padding: 15px 0px 15px 0px;
}
.blog-post-area .author-info .post-author-image {
  width: 30px;
}
.blog-post-area .post-content {
  margin-top: 15px;
  margin-bottom: 15px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 10:58:10 PM
    Author     : Panagiotis
*/
.blog-post-details-area .post-details-header {
  font-size: 25px;
}
.blog-post-details-area .post-details-header-small {
  font-size: 15px;
}
.blog-post-details-area .post-details-image-box {
  max-height: 250px;
  overflow: hidden;
}
.blog-post-details-area .post-details-image-box .post-details-image {
  width: 100%;
}
.blog-post-details-area .stars {
  color: #ffcc00;
  display: inline;
}
.blog-post-details-area .post-details-author-info {
  padding: 15px 0px 15px 0px;
}
.blog-post-details-area .post-details-author-info .post-author-image {
  width: 30px;
  display: inline;
}
.blog-post-details-area .post-details-content {
  margin-top: 15px;
  margin-bottom: 15px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:15:10 PM
    Author     : Panagiotis
*/
.footer {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #2C3E50;
  color: #ecf0f1;
}
.footer a:visited {
  color: #ecf0f1;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:00:55 PM
    Author     : Panagiotis
*/
.profile-area {
  padding-top: 15px;
}
/*    .profile-img {
        display: block;
        width: 100px;
        margin: 0 auto ;
        padding: 3px; 
        border: 3px solid #d2d6de;
    }

    .panel-heading {
        border-top-style: outset;
        border-top-color:  #33ccff;
        background-color: white; 
    }

    .profile-item {
        border-left: none;
        border-right: none;
    }

    .profile-tab  {

        a {
            margin-right :0px;
            border-radius: 0px;
        }
        .active {
            border-top-style: outset;
            border-top-color:  #33ccff;

            a {
            }
        }
        :hover {
        }

        :focus {
        }
    }
}*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 3:54:16 PM
    Author     : iq10255
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:00:55 PM
    Author     : Panagiotis
*/
.user-profile-box {
  /*    .profile-tab  {
    
            a {
                margin-right :0px;
                border-radius: 0px;
            }
            .active {
                border-top-style: outset;
                border-top-color:  #33ccff;
            }
        }*/
}
.user-profile-box .profile-img {
  display: block;
  width: 100px;
  margin: 0 auto ;
  padding: 3px;
  border: 3px solid #d2d6de;
}
.user-profile-box .panel-heading {
  border-top-style: outset;
  border-top-color: #33ccff;
  background-color: white;
}
.user-profile-box .profile-item {
  border-left: none;
  border-right: none;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 11:00:55 PM
    Author     : Panagiotis
*/
.user-profile-tabs {
  border: none;
}
.user-profile-tabs .panel-heading {
  border-top-style: outset;
  border-top-color: #33ccff;
  background-color: white;
}
.user-profile-tabs .profile-item {
  border-left: none;
  border-right: none;
}
.user-profile-tabs .profile-tab a {
  margin-right: 0px;
  border-radius: 0px;
}
.user-profile-tabs .profile-tab .active {
  border-top-style: outset;
  border-top-color: #33ccff;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2017, 12:16:40 AM
    Author     : Panagiotis
*/
/* Red Color */
/*
@bgDefault      : #e74c3c;
@bgHighlight    : #c0392b;
@colDefault     : #ecf0f1;
@colHighlight   : #ffbbbc;
@colbgHighlight : #c0392b;*/
/* Dark Grey */
.navbar-default {
  border-radius: 0px;
  background-color: #2C3E50;
  border-color: #566573;
}
.navbar-default .app-image {
  width: 18px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
  font-size: 20px !important;
  min-width: 200px;
  text-align: center;
  font-weight: 800;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #D5D8DC;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #566573;
  color: #D5D8DC;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #D5D8DC;
  background-color: #566573;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #D5D8DC;
  background-color: #566573;
}
.navbar-default .navbar-toggle {
  border-color: #566573;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #566573;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #D5D8DC;
}
.navbar-default .nav-user-image {
  width: 25px;
  margin-top: -2px;
  margin-right: 10px;
  float: left;
}
.navbar-default .navbar-user-dropdown {
  min-height: 210px;
}
.navbar-default .navbar-user-dropdown {
  min-height: 210px;
  width: 300px;
  padding: 0px;
}
.navbar-default .navbar-user-dropdown .nav-user-image-dropdown-box {
  background-color: #2C3E50;
  min-height: 150px;
}
.navbar-default .navbar-user-dropdown .nav-user-image-dropdown-box .nav-user-image-dropdown {
  height: 100px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.navbar-default .navbar-user-dropdown .nav-user-image-dropdown-box .nav-user-name-dropdown {
  color: white;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar-default .navbar-user-dropdown .nav-user-buttons-dropdown {
  min-height: 45px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #D5D8DC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #D5D8DC;
    background-color: #566573;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 5:20:39 PM
    Author     : iq10255
*/
.content-header {
  position: relative;
  padding: 15px 0px 15px 0px;
}
.content-header > h1 {
  margin: 0;
  font-size: 24px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media (max-width: 767px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    /*      background: @gray-lte;*/
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    /*        color: darken(@gray-lte, 20%);*/
  }
}
html {
  height: 100%;
  min-height: 100%;
  /*    width : 100%;*/
}
body {
  position: relative;
  padding-bottom: 4rem;
  min-height: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color: white;
}
.container {
  width: 100%;
  height: 100%;
}
.image-in-list {
  width: 100px;
}
.main-carousel {
  margin-bottom: 15px;
  max-height: 400px;
}
.main-carousel .carousel-inner {
  max-height: 400px;
}
.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
/*# sourceMappingURL=site.css.map */